<div id="frame">
    <div class="content">
        <div class="contact-profile">
            <img src = "assets/img/raccoonChatAvatar.png" alt="" />
            <p>Le nom de l'adversaire</p>
        </div>
        <div class="messages" #scrollMe>
            <ul>
                <li *ngFor="let msg of messages">
                    <img src = "assets/img/raccoonChatAvatar.png" alt="" />
                    <p>{{msg}}</p>
                </li>
            </ul>
        </div>
        <div class="message-input">
            <div class="wrap">
                <input
      type="text"
      #msgInput
      placeholder="Write your message..."
      (keyup.enter)="addNewMessage(msgInput)"
    />
                <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                <button class="submit" (click)="addNewMessage(msgInput)">
      <i class="fa fa-paper-plane" aria-hidden="true"></i>
    </button>
            </div>
        </div>
    </div>
</div>