#chat-box {
  display: flex;
  position: relative;
  width: 550px;
  height: 550px;
  background: #e6eaea;
}

#chat-box .content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  
}

#chat-box .content .contact-profile {
  width: 100%;
  height: 50px;
  line-height: 60px;
  background: #7DAF9C;
  margin-bottom: 15px;
}
#chat-box .content .contact-profile img {
  width: 40px;
  border-radius: 50%;
  float: left;
  margin: 9px 12px 0 9px;
}
#chat-box .content .contact-profile p {
  float: left;
  color: #eeee;
}

#chat-box .content .messages {
  position: relative;
  bottom: 12px;
  display: flex;
  flex-direction: column-reverse;
  height: auto;
  min-height: calc(100% - 90px);
  max-height: calc(100% - 93px);
  overflow-y: scroll;
  overflow-x: hidden;
  width: calc(100% - 20px); 
  padding-right: 20px;
}

#chat-box .content .messages ul{
  padding-left: 0;
} 
#chat-box .content .messages ul li.sent {
  display: inline-block;
  clear: both;
  float: left;
  padding-left: 250px; 
  margin: 15px 15px 15px 15px;
  width: calc(100% - 25px);
  font-size: 0.9em;
}

#chat-box .content .messages ul li.received {
  display: inline-block;
  clear: both;
  float: left;
  margin: 15px 15px 15px 15px;
  width: calc(100% - 25px);
  font-size: 0.9em;
}

#chat-box .content .messages ul li.common {
  display: inline-block;
  clear: both;
  float: left;
  text-align: center; 
  margin: 15px 15px 15px 15px;
  width: calc(100% - 25px);
  font-size: 0.9em;
}

#chat-box .content .messages ul li img {
  width: 22px;
  border-radius: 50%;
  float: left;
}

#chat-box .content .messages ul li.sent p {
  display: inline-block;
  padding: 10px 15px;
  border-style: solid #1778f2;
  color: white;
  border-radius: 20px;
  max-width: 200px;
  line-height: 130%;
  overflow-wrap: break-word;
  background-color: #1778f2;
}

#chat-box .content .messages ul li.received p {
  display: inline-block;
  padding: 10px 15px;
  border-style: solid white;
  color: black;
  border-radius: 20px;
  max-width: 200px;
  line-height: 130%;
  overflow-wrap: break-word;
  background-color: white;
}

#chat-box .content .messages ul li.common p {
  display: inline-block;
  color: rgb(224, 19, 19);
  font-weight: bold;
  overflow-wrap: break-word;
}

#chat-box .content .messages ul li.global p {
  display: inline-block;
  color: rgb(8, 109, 11);
  font-weight: bold;
  overflow-wrap: break-word;
}

#chat-box .content .messages ul li.global {
  display: inline-block;
  clear: both;
  float: left;
  text-align: center; 
  margin: 15px 15px 15px 15px;
  width: calc(100% - 25px);
  font-size: 0.9em;
}

#chat-box .content .messages::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
#chat-box .content .messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

#chat-box .content .message-input {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 99;
}
#chat-box .content .message-input .wrap {
  position: relative;
}
#chat-box .content .message-input .wrap input {
  font-family: sans-serif;
  float: left;
  border: none;
  width: calc(100% - 105px);
  padding: 11px 32px 15px 8px;
  font-size: 0.8em;
  color: #32465a;
}

#chat-box .content .message-input .wrap input:focus {
  outline: none;
}
#chat-box .content .message-input .wrap .attachment {
  position: absolute;
  right: 60px;
  z-index: 4;
  margin-top: 10px;
  font-size: 1.1em;
  color: #435f7a;
  opacity: 0.5;
  cursor: pointer;
}

#chat-box .content .message-input .wrap .attachment:hover {
  opacity: 1;
}
#chat-box .content .message-input .wrap button {
  float: right;
  border: none;
  width: 15px;
  padding-bottom: 2px;
  cursor: pointer;
  background: #1778f2;
  color: #f5f5f5;
}

#chat-box .content .message-input .wrap button:hover {
  background: #435f7a;
}
#chat-box .content .message-input .wrap button:focus {
  outline: none;
}




