<div id="frame">
    <div class="content">
        <div class="contact-profile">
            <img src = "assets/img/raccoonChatAvatarOther.png" alt="" />
            <p>Le nom de l'adversaire</p>
        </div>
        <div class="messages">
            <ul>
                <li [class] = "messageItem.tag" *ngFor="let messageItem of messages">
                    <img *ngIf = "messageItem.tag === 'sent'" src = "assets/img/raccoonChatAvatar.png" alt="" />
                    <img *ngIf = "messageItem.tag === 'received'" src = "assets/img/raccoonChatAvatarOther.png" alt="" />
                    <p>{{messageItem.message}}</p>
                </li>
            </ul>
        </div>
        <div class="message-input">
            <div class="wrap">
                <input
      type="text"
      #input
      placeholder="Write your message..."
      (keyup.enter)="addNewMessage(input)"
    />
                <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                <button class="submit" (click)="fakeReceived(input)">
      <i class="fa fa-paper-plane" aria-hidden="true"></i>
    </button>
            </div>
        </div>
    </div>
</div>