<h1 mat-dialog-title *ngIf="data.action === 'abandon'">Confirmation</h1>
    <h1 mat-dialog-title *ngIf="data.action === 'endGame'">Fin de la partie</h1>
    <div mat-dialog-content>
      <p *ngIf="data.action === 'abandon'">{{data.message}}</p>
      <p *ngIf="data.action === 'endGame'">{{data.message}}</p>
    </div>
    <div mat-dialog-actions>
      <button mat-button *ngIf="data.action === 'abandon'" mat-dialog-close routerLink="/home">Oui</button>
      <button mat-button *ngIf="data.action === 'abandon'" mat-dialog-close>Non</button>
      <button mat-button *ngIf="data.action === 'endGame'" mat-dialog-close routerLink="/home">Retourner à la vue initiale</button>
    </div>
