<div id="image-editor">
  <!-- <canvas id="canvas" width="640" height="480"></canvas> -->
  <canvas id="myCanvas" width="640" height="480" style="border:1px solid #000000;"></canvas>
</div>

<div id="canvas-action-buttons">
  <button mat-raised-button color="basic"
    matTooltip="Téléverser une image en format BMP et de taille 640x480 sur les deux zones">
    Téléverser une image <mat-icon>add</mat-icon>
  </button>
  <button mat-raised-button color="primary" matTooltip="Réinitialiser les deux zones">
    Réinitialiser les arrière-plans
  </button>
</div>