<div class="users-section">
    <div id="canvas-top-buttons">
        <app-canvas-top-buttons></app-canvas-top-buttons>
    </div>
    <div id="canvas-zone">
        <canvas id="combined-canvas" [height]="canvasSizes.height" [width]="canvasSizes.width" #combinedCanvas></canvas>
        <app-image-canvas [position]="canvasPosition.Left"></app-image-canvas>
        <app-canvas-middle-buttons id="middle-buttons"></app-canvas-middle-buttons>
        <app-image-canvas [position]="canvasPosition.Right"></app-image-canvas>
    </div>

    <p>L'image doit être de type <strong>bitmap 640 x 280 24 bits</strong></p>
    <app-canvas-under-buttons [canvasPositionType]="canvasPosition.Both"></app-canvas-under-buttons>

    <div id="radio-buttons">
        <div>
            <p>Choisissez le rayon d'élargissement :</p>
            <mat-radio-group ngDefaultControl aria-label="Select an option" [(ngModel)]="radius">
                <mat-radio-button color="primary" *ngFor="let radius of radiusSizes" [value]="radius">{{ radius
                    }}</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <button mat-raised-button name="validateButton" color="primary" matTooltip="Vous devez avoir téléversé deux images"
        (click)="validateDifferences()">
        Valider les différences
    </button>
    <button mat-raised-button [routerLink]="configRoute">Retourner à la page de Configuration</button>
</div>
