.images-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}

#canvas-action-buttons {
    width: 55%;
    display: flex;
    justify-content: space-around;
}

#configuration-buttons {
    padding-right: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#configuration-buttons div {
    margin: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#configuration-buttons #buttons {
    padding-left: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#configuration-buttons p {
    margin-right: 16px;
}

#canvas-zone {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#upload-btn {
    display: none;
}
