<div class="images-section">
    <div id="canvas-zone">
        <app-image-canvas [position]='"left"'></app-image-canvas>
        <app-image-canvas [position]='"right"'></app-image-canvas>
    </div>
    <div id="canvas-action-buttons">
        <button mat-raised-button color="basic"
            matTooltip="Téléverser une image en format BMP et de taille 640x480 sur les deux zones"
            (click)="fileUpload.click()">
            Téléverser la même image sur les deux zones <mat-icon>attach_file</mat-icon>
        </button>
        <button mat-raised-button color="basic" matTooltip="Réinitialise les arrières-plans">
            Réinitialiser les arrières-plans
        </button>
    </div>

    <input type="file" id="upload-btn" (change)="onSelectFile($event)" #fileUpload />
    <mat-error *ngIf="!validationService.isImageTypeValid"> Le type d'image doit être un <strong>bitmap</strong>
    </mat-error>
    <mat-error *ngIf="!validationService.isImageSizeValid"> La taille de l'image doit être de <strong>640x480</strong>
    </mat-error>
    <mat-error *ngIf="!validationService.isImageFormatValid"> Le format d'image doit être de <strong>24-bits</strong>
    </mat-error>

    <div id="configuration-buttons">
        <div>
            <p>Choisissez le rayon d'élargissement :</p>
            <mat-radio-group color="primary" aria-label="Select an option" [(ngModel)]="defaultRadius">
                <mat-radio-button *ngFor="let rad of radiusSizes" [value]="rad">{{ rad }}</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
</div>