#history-box {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    height: 550px;
    background: #e6eaea;
    
  }
  #history-box .content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    
  }
  
  .playersInfo {
    display: flex;
    justify-content: center;
  
    .player1info, .player2info {
      margin: 0 10px;
    }
  }

  #history-box .content {
    height: 100%;
    overflow-y: auto;
}