<div class="container flex-column">
    <header class="header">
        <h1 class="header-item flex-column">{{ gameTitle }}</h1>
    </header> 
    <img id = "background" src = "./assets/background/MenuBackground.jpg"/>   
    <section id="server-message" class="flex-column section">
        <h2>Choisis ton mode de jeu :</h2>
        <div class="flex-row">
            <button class="button" [routerLink]="selectionRoute">
                <span id = "classic">Classique</span>
            </button>
            <button class="button" [routerLink]="limitedRoute">
                <span id = "limited">Temps Limité</span>
            </button>
            <button class="button" [routerLink]="configRoute">
                <span id = "config">Configuration</span>
            </button>
        </div>
    </section>
    <footer class="footer flex-column">
        <h3 class="team-name"><strong>{{ teamNumber }}</strong></h3>
        <p>
            <span *ngFor="let teammateName of teammateNameList"> {{ teammateName }} </span>
        </p>
    </footer>
</div>
