<div class="container justified">
    <h1 class="header-item">Bienvenue au cours {{ title }}</h1>
    <img src="https://bit.ly/3QofL1J" alt="Logo Projet" />
    <section id="server-message" class="justified">
        <p>Petit message du serveur : {{ message.getValue() }}</p>
        <div class="justified">
            <button class="button" routerLink="/selection">Classique</button>
            <button class="button" routerLink="/timed">Temps Limité</button>
            <button class="button" routerLink="/config">Configuration</button>
        </div>
    </section>

    <button class="button" routerLink="/game">Jouer!</button>

    <footer class="footer-item">
        <h4 class="team-name">Rat-Coon</h4>
        <p>
            <span>Jeremy Ear</span>, <span>Sulayman Hosna</span>, <span>Edgar Kappauf</span>, <span>Mathieu Prévost</span>, <span>Zakaria Zair</span>,
            <span>Abderrahim Zebiri</span>
        </p>
    </footer>
</div>
