
.digit {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}
h1{
    font-weight: bold;
    margin: 3px;
}
.end {
    font-size: 2em;
    font-weight: bold;
    transition: color 0.5s;
    color: red;
}