.navBar {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
}

ul a {
    cursor: pointer;
    color: white;
    -webkit-text-stroke: 1px black;
}

li:hover{
    transform: scale(1.15);
}

.navElement {
    margin: 0 10px;
    font-size: 1.1em;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    &:hover {
        color: #ffffff;
    }
}

ul {
    list-style-type: none;
}

a:hover {
    color: #000000ab;
}

a {
    text-decoration: none;
    color: #000000;
}
