:root {
    --background-color: #c4e5ff;
    --player-color: purple;
    --active-color: darkgreen;
    --text-color: black;
    --highlight: #65e073;
    --selected-page: #96f68f;
    --hover-playlist: #f2f2f2;
}

body {
    background-color: #ffffff;
}

* {
    font-family: 'Roboto', sans-serif;
}

mat-grid-tile {
    background: rgb(255, 255, 255);
}

h1 {
    background-color: rgb(213, 213, 221);
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
    animation: blink-text 1.9s linear infinite;
}

@keyframes blink-text {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.game-selection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-items: space-between;
    text-align: center;
    margin-left: 10px;
}

.game-selection > * {
    flex: 1 40%;
}

.previous_button {
    position: absolute;
    float: left;
    left: 0;
    padding: 10px;
    margin: 10px;
    justify-content: flex-start;
    font-size: 25px;
}

.next_button {
    position: absolute;
    float: right;
    right: 0;
    padding: 10px;
    margin: 10px;
    align-items: flex-end;
    font-size: 25px;
}

.track {
    width: 250px;
    height: 250px;
}
