<div>
    <h1>{{ titre }}</h1>
    <div class="game-selection">
        <div *ngFor="let gamecard of gameList.slice(gameIterator, gameIterator + 4)" class="game">
            <h2>{{ gamecard.name }}</h2>
            <img src="{{ gamecard.picture }}" (click)="selectedGamecard()" alt="track" class="track" />
        </div>
    </div>
    <div class="change-game">
        <button class="previous_button" (click)="lastFour()"><< Précedent</button>
        <button class="next_button" (click)="nextFour()">Suivant >></button>
    </div>
</div>
