<div class="selectionComponent">
    <div class="header">
        <h1 *ngIf="router.url === '/selection'">Selectionne ton jeu</h1>
        <h1 *ngIf="router.url === '/config'">Configure ton jeu</h1>
        <app-nav-bar></app-nav-bar>
    </div>
    <mat-grid-list class="gameCarrousel" cols="4">
       <ng-container  *ngIf="gameCarrousel.gameCards">
            <mat-grid-tile *ngFor="let game of gameCarrousel.gameCards" class="section">
                <app-game-sheet  [game]="game"></app-game-sheet>
            </mat-grid-tile>
        </ng-container>
    </mat-grid-list>
    <div class="buttonContainer">
        <button mat-raised-button *ngIf="gameCarrousel.hasPrevious" mat-raised-button class="previous_button" (click)="previousCarrousel()"><< Précedent</button>
        <button mat-raised-button *ngIf="gameCarrousel.hasNext" mat-raised-button class="next_button" (click)="nextCarrousel()">Suivant >></button>
    </div>
</div>
<div *ngIf="router.url === '/selection'" class="footerPreview">
    <div class="section blabla">
        <h2 class="sectionOne button" >Créer ton propre jeu</h2>
        <p>Tu peux créer ton propre jeu des sept différences pour y jouer en solo ou en duo</p>
        <p> Ne perds pas de temps et fais ton premier jeu !</p>
        <div class="buttonCreate"><a [routerLink]="configRoute"> Créer mon jeu</a></div>
    </div>
    <div class="section logo">
        <img class="project-logo justified" src="./assets/RatCoon.png" alt="Logo Projet " [routerLink]="homeRoute" />
    </div>
</div>
<div *ngIf="router.url === '/selection'" class="footer">
</div>
