* {
    font-family: 'Roboto', sans-serif;
}
.selectionComponent {
    background-color: (#7DAF9C);
}

.header {
    display: flex;
    flex-direction: row;
    background-color: (#7DAF9C);
    justify-content: center;
    padding: 10px;
}

h1 {
    margin: auto;
    padding-left: 500px;
    text-align: center;
}

.game-selection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-items: space-between;
    text-align: center;
    margin-left: 10px;
}

.game-selection > * {
    flex: 1 40%;
}

.buttonContainer {
    text-align: center;
}

.previous_button {
    position: static;
    left: 40%;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    min-width: 150px;
}

.next_button {
    position: static;
    right: 40%;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    min-width: 150px;
}

.menu_button {
    font-size: 20px;
    width: 600px;
    height: 100px;
}

.track {
    width: 250px;
    height: 250px;
}

.footerPreview {
    color: white;
    position: relative;
    height: 35%;
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(60, 60, 60);
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-logo {
    width: 150px;
    height: 150px;
    border-radius: 60%;
    margin: 0 auto;
    border-style: double;
    border-width: 5px;
    border-color: darkslategrey;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    background: rgb(23, 15, 46);
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.buttonCreate {
    margin-top: 10px;
}

.buttonCreate a {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    padding: 10px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    font-weight: 400px;
    transition: 0.5s;
}

.buttonCreate:hover a {
    letter-spacing: 3px;
}
.buttonCreate a::before {
    background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
    transform: skewX(45deg) translate(0);
    transition: 0.5s;
}
.buttonCreate::before {
    bottom: -5px;
    width: 30px;
    height: 10px;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0.5;
}

.buttonCreate::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    top: -5px;
    width: 30px;
    height: 10px;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0.5;
}
