<div *ngIf="isColorSelected" id="canvas-color-choice">
    <button *ngFor="let color of colors" class="button" (click)="setDrawingColor(color)" (click)="isColorSelected = false">
        <mat-icon [ngStyle]="{ color: color }">lens</mat-icon>
    </button>
</div>
<div id="canvas-top-buttons" *ngIf="!isColorSelected">
    <mat-button-toggle-group [(value)]="selectedCanvasAction">
        <mat-button-toggle [value]="canvasAction.Pencil" (change)="setCanvasAction($event.value)">
            <mat-icon>gesture</mat-icon>
            <mat-form-field appearance="fill" style="width: 80px">
                <mat-select [(value)]="pencilDiameter" (selectionChange)="setPencilWidth(pencilDiameter)">
                    <mat-option *ngFor="let pencil of drawValues" [value]="pencil">
                        <svg width="20" height="20">
                            <circle cx="50%" cy="50%" [attr.r]="pencil / (1 + 1)" [attr.fill]="drawColor" />
                        </svg>
                        {{ pencil }} px
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-icon [ngStyle]="{ color: drawColor }">line_weight</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle [value]="canvasAction.Rectangle" (change)="setCanvasAction($event.value)"
        matTooltip="Dessiner un rectangle (Vous pouvez faire un carré en appuyant sur la touche SHIFT)">
            <mat-icon [ngStyle]="{ color: drawColor }">crop_square</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle [value]="canvasAction.Eraser" (change)="setCanvasAction($event.value)">
            <img src="./assets/eraser.svg" alt="eraser"/>
            <mat-form-field appearance="fill" style="width: 80px">
                <mat-select [(value)]="eraserLength"  (selectionChange)="setEraserLength(eraserLength)">
                    <mat-option *ngFor="let eraser of drawValues" [value]="eraser">
                        <svg width="40" height="40" viewBox="0 0 35 35">
                            <rect fill-rule="evenodd" y="10" [attr.width]="eraser" [attr.height]="eraser" fill="black" />
                        </svg>
                        {{ eraser }} px
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-icon>line_weight</mat-icon>
        </mat-button-toggle>
    </mat-button-toggle-group>
    <button mat-raised-button class="button" (click)="isColorSelected = true" matTooltip="Changer la couleur des dessins">
        <mat-icon [ngStyle]="{ color: drawColor }">color_lens</mat-icon>
    </button>
</div>