.create_button {
    font-size: 20px;
    width: 500px;
    height: 90px;
    background-color: white;
}

.menu_button {
    font-size: 20px;
    width: 600px;
    height: 100px;
    background-color: white;
}

.under-game-list {
    text-align: center;
}

.Back-menu {
    text-align: center;
}

.mat-form-field {
    display: block;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 25px; 
    width: 265px;
}
  
.mat-label {
    font-size: 0.7rem; 
}

.mat-hint {
    font-size: 0.7rem; 
}

.mat-error {
    font-size: 0.7rem;
}

.upper-list-game {
    background-color: rgb(255, 255, 255);
}