@import url('https://fonts.cdnfonts.com/css/troika-2');

.create_button {
    font-size: 20px;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    opacity: 0;
}

.reset_button {
    font-size: 20px;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    opacity: 0;
}

.delete_button {
    font-size: 20px;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    opacity: 0; 
    line-height: 30px;
}

.button-container:hover img {
    filter: drop-shadow(10px 10px 10px black);
}

.config_button {
    font-size: 150px;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    opacity: 0;
}

.button-container img {
    position: absolute;
    bottom:100px;
    left: 210px;
    width: 50%;
    height: 50%;
    transition: all 0.3s ease;
  }

.button-container .centered-reset {
    position: absolute;
    font-size: 45px;
    top: 50%;
    left: 47.5%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 400px;
    line-height: normal;
    color: white;
    font-family: 'Troika', sans-serif;
}

.button-container:hover img {
    filter: drop-shadow(10px 10px 10px black);
}

.config_button {
    font-size: 150px;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    opacity: 0;
}

.button-container img {
    position: absolute;
    bottom:100px;
    left: 210px;
    width: 50%;
    height: 50%;
    transition: all 0.3s ease;
  }

.button-container .centered-reset {
    position: absolute;
    font-size: 45px;
    top: 50%;
    left: 47.5%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 400px;
    line-height: normal;
    color: white;
    font-family: 'Troika', sans-serif;
}

.button-container:hover img {
    filter: drop-shadow(10px 10px 10px black);
}

.menu_button {
    font-size: 20px;
    width: 600px;
    height: 100px;
    background-color: white;
}

.under-game-list {
    text-align: center;
}

.Back-menu {
    text-align: center;
}

.game-constants {
    display: inline-block;
    margin-left: 6%;
    margin-right: 6%;
    float: none;
}

.game-constants {
    width: 80%;
}

.game-constants * * {
    margin: 2% 2%;
    font-size: 20px;
}

.upper-list-game {
    background-color: rgb(255, 255, 255);
}

.button-container {
    position: relative;
    width: 500px;
    height: 150px;
    margin-right: 40px;
}

.button-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

.button-container .centered-create {
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 450px;
    color: white;
    font-family: 'Troika', sans-serif;
}

.button-container .centered-reset {
    position: absolute;
    font-size: 45px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 500px;
    color: white;
    font-family: 'Troika', sans-serif;
  }

  .button-container .centered-delete {
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 500px;
    color: white;
    font-family: 'Troika', sans-serif;
    line-height: 50px;
  }
