<div class="config-view">
    <div class="upper-list-game">
        <app-selection-page> </app-selection-page>
    </div>
    <div class="under-game-list">
        <mat-grid-list cols="2" rowHeight="300px">
            <mat-grid-tile>
                <div class="change-game">
                    <button mat-raised-button [routerLink]="createRoute" class="create_button">Création de jeu</button>
                </div>
            </mat-grid-tile>
            <mat-grid-tile
                ><div class="game-constants">
                    <form [formGroup]="constantsForm" (ngSubmit)="onSubmit()">
                        <mat-form-field appearance="fill">
                          <mat-label>Temps initial du compte à rebours</mat-label>
                          <input matInput type="number" formControlName="countdownTime" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                          <mat-label>Temps de pénalité pour l’utilisation d’un indice</mat-label>
                          <input matInput type="number" formControlName="penaltyTime" required> 
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                          <mat-label>Temps gagné avec la découverte d’une différence</mat-label>
                          <input matInput type="number" formControlName="bonusTime" required>
                        </mat-form-field>
                        <button mat-raised-button type="submit">Enregistrer la configuration</button>
                    </form>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
