<div class="config-view">
    <div class="upper-list-game">
        <app-selection-page> </app-selection-page>
    </div>
    <div class="under-game-list">
        <mat-grid-list cols="2" rows="1" rowHeight="420px">
            <mat-grid-tile>
                <button mat-raised-button [routerLink]="createRoute" class="create_button">Création de jeu</button>
                <button mat-raised-button class="create_button" (click)="openConfirmationDialog(actions.ResetAllTopTimes)">Tout réinitialiser</button>
                <button mat-raised-button class="create_button" (click)="openConfirmationDialog(actions.DeleteAllGames)">Tout supprimer</button>
            </mat-grid-tile>
            <mat-grid-tile
                ><div class="game-constants">
                    <div class="button-container">
                        <button mat-raised-button class="config_button" (click)="openConfigDialog()">Configurer les constantes de jeu</button>
                        <img src="./assets/icon/CreationPageButton.png">
                        <div class="centered-reset">Configurer les constantes de jeu</div>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
