<div>
    <h1>{{ titre }}</h1>
    <mat-grid-list cols="2" rowHeight="3:1">
        <mat-grid-tile *ngFor="let game of games.slice(gameIterator, gameIterator + 4)">
            <app-game-sheet-config [game]="game"></app-game-sheet-config>
        </mat-grid-tile>
    </mat-grid-list>
    <div class="change-game">
        <button *ngIf="hasPrevious" class="previous_button" (click)="lastFour()"><< Précedent</button>
        <button [routerLink]="createRoute" class="create_button">Création de jeu</button>
        <button *ngIf="hasNext" class="next_button" (click)="nextFour()">Suivant >></button>
    </div>
</div>
