.justified {
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 1;
}

.gameSheet {
    z-index: 1;
    margin-bottom: 80px;
}

h1 {
    font-family: 'Troika', sans-serif;
    color: #ffffff;
    letter-spacing: 5px;
    text-align: center;
    padding: 15px;
    font-size: 200%;
    font-weight: 700;
    z-index: 1;
}

.difficulty {
    font-family: 'Troika', sans-serif;
    color: #000000;
    z-index: 1;
}

h3 {
    font-family: 'Troika', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    font-size: 150%;
    font-weight: 300;
    z-index: 1;
}

.gameContainer {
    display: flex;
    padding-top: 90px;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 5px;
    margin-right: 5px;
    z-index: 1;
}

.thumbnail {
    display: flex;
    max-width: 200px;
    max-height: 150px;
    z-index: 1;
}

.gameInfo {
    margin: 5px;
    z-index: 1;
}

.ranking {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 10px;
    z-index: 1;
}

.bestTime {
    border: 2px solid #000000;
    border-radius: 10px;
    z-index: 1;
}

.buttonSection {
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    z-index: 1;
}

.mat-raised-button {
    padding: 10px;
    min-width: 100px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #1778f2;
    color: #ffffff;
    z-index: 1;
}

.mat-raised-button:hover {
    background-color: #ffffff;
    color: #000000;
    z-index: 1;
}

.section {
    text-align: left;
    margin-bottom: 20px;
    z-index: 1;
}

.background {
    position: absolute;
    top: 0;
    left: 40px;
    right: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
