.justified {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.gameSheet {
    border: 1px solid #000000;
    border-radius: 40px;
    background-color: #ffffff;
    transition: 0.2s;
}

.gameSheet:hover {
    border: 1px solid #000000;
    border-radius: 40px;
    background-color: #ffffff;
    transform: scale(1.05);
}

h1 {
    text-align: center;
    padding: 15px;
    font-size: 200%;
    font-weight: 700;
}

.gameContainer {
    display: flex;
    padding-top: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 5px;
    margin-right: 5px;
}

.thumbnail {
    display: flex;
    max-width: 200px;
    max-height: 150px;
}

.gameInfo {
    margin: 5px;
}

.ranking {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 20px;
}

.bestTime {
    border: 2px solid #000000;
    border-radius: 10px;
}

.buttonSection {
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.mat-raised-button {
    padding: 10px;
    min-width: 100px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #1778f2;
    color: #ffffff;
}

.mat-raised-button:hover {
    background-color: #ffffff;
    color: #000000;
}

.section {
    text-align: left;
    margin-bottom: 10px;
}
