<div *ngIf="game" class="gameSheet">
    <h1 class="title">{{ game.name }}</h1>
    <div class="gameContainer">
        <img class="thumbnail" [src]="'data:image/png;base64,'+game.thumbnail" alt="track" />
        <div class="gameInfo">
            <h2>Difficulté: {{ game.difficultyLevel }}</h2>
            <div class="ranking">
                <div class="top three section">
                    <h3>Top Solo</h3>
                    <div class="topSolo" *ngFor="let player of game.soloTopTime; index as i">
                        <strong class="bestTime">&nbsp;{{ i + 1 }} </strong>
                        &nbsp;<strong>{{ player.name }}</strong> {{ '&nbsp;&nbsp;' + player.time }}
                    </div>
                </div>
                <div class="top three section">
                    <h3>Top 1 Vs 1</h3>
                    <div *ngFor="let player of game.oneVsOneTopTime">
                        <strong>{{ player.name }}</strong> {{ '&nbsp;&nbsp;' + player.time }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="buttonSection">
        {{ navigate() }}
        <button mat-raised-button (click)="openDialog()">{{ this.buttonPlay }}</button>
        <button mat-raised-button>{{ this.buttonJoin }}</button>
    </div>
</div>