<div>
    <button class="button" routerLink="homeRoute">Retour au menu</button>
    <img src="../../../assets/img/magnifying-glass.png" id="hint1" alt="Icone d'indice" class="hintIcon" (click)="getHint(0)" />
    <img src="../../../assets/img/magnifying-glass.png" id="hint2" alt="Icone d'indice" class="hintIcon" (click)="getHint(1)" />
    <img src="../../../assets/img/magnifying-glass.png" id="hint3" alt="Icone d'indice" class="hintIcon" (click)="getHint(2)" />
</div>
<div class="infomations section">
    <h1>{{ game.name }}</h1>
    <app-chronometer [isRunning]="!isFinished"></app-chronometer>
</div>
<div class="game section">
    <div class="gameCanvas">
        <img src="../../../assets/img/Pinocchior.jpg" alt="track" />
    </div>
    <div class="gameCanvas">
        <img src="../../../assets/img/Pinocchior.jpg" alt="track" class="track" />
    </div>
    <app-game-infos [game]="game" [mode] = "mode" [penaltyTime]="penaltyTime" [bonusTime] = "bonusTime"></app-game-infos>
</div>
<button class = "importantButton" (click) = "abandonGame()" routerLink = "homeRoute">Abandonner la partie</button>
<button class="button" (click)="finish()">Arrêt</button>
