* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.game.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    margin: 20px;
  }
.gameCanvas{
    border-style: solid;
    width: 100%;
  }

img {
    width: 100%;
  }
  .infomations.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e84b17fe;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}

