<p class = "title">Veuillez entrer un nom valide</p>

<div class = "input">
    <form [formGroup]="playerNameForm" (ngSubmit)="submitForm()">
        <mat-form-field>
            <input class = "inputText" matInput type="text" placeholder="Entrer votre nom" formControlName="name" />
            <mat-error *ngIf="playerNameForm.controls.name.errors?.required" [ngClass]="'error'">Le nom ne peut être vide !</mat-error>
            <mat-error *ngIf="playerNameForm.controls.name.errors?.pattern" [ngClass]="'error'">Le nom ne peut contenir d'espaces !</mat-error>
            <mat-error *ngIf="playerNameForm.controls.name.errors?.minlength" [ngClass]="'error'">Le nom doit contenir au moins 3 caractères !</mat-error>
            <mat-error *ngIf="playerNameForm.controls.name.errors?.maxlength" [ngClass]="'error'">Le nom doit contenir au plus 10 caractères !</mat-error>
            <mat-error *ngIf="playerNameForm.controls.name.errors?.nameTaken" [ngClass]="'error'">Ce nom est déjà pris !</mat-error>
        </mat-form-field>
        <button mat-raised-button type="submit" [disabled]="playerNameForm.invalid">Ok</button>
        <button mat-button mat-dialog-close type="button">Retour</button>
    </form>
    <span class="count">{{playerNameForm.controls.name.value.length || 0}} / 10</span>
</div>
<img src="./assets/icon/woodenPopUp.png" class="dialog-image" alt="popup">
